<div class="container" style="margin-top:10rem">
  <div class="btn-group col-md-6 offset-md-3">
    <%= link_to t('.add'), create_participant_path(params[:locale], @room), class: 'btn btn-primary text-light' %>
    <%= link_to t('.edit'), edit_room_url(params[:locale], @room), class: 'btn btn-primary text-light' %>
    <%= link_to t('.judges'), admins_path(params[:locale], @room), class: 'btn btn-primary text-light' %>
    <%= link_to t('.delete'), room_path(params[:locale], @room), method: :delete, data: { confirm: t('.confirmation') },  class: 'btn btn-primary text-light' %>
    <%= link_to t('.back'), rooms_path(params[:locale]), class: 'btn btn-primary text-light' %>
  </div>
  <div class="pt-3">
    <%= render 'table', table: @table, table_rows: @table_rows %>
  </div>
  <script>
      <%= render 'table.js', options: (3..@table.width.to_i+2).to_a.join(', '), room: @room %>
  </script>
</div>
