<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to t('global.menu.home_page'), root_path(params[:locale]), class: 'btn btn-outline-light me-2' %></li>
        <% if I18n.locale == :en %>
          <li><%= link_to 'Русский', root_path(locale: :ru), class: 'btn btn-outline-light me-2' %></li>
        <% else %>
          <li><%= link_to 'English', root_path(locale: :en), class: 'btn btn-outline-light me-2' %></li>
        <% end %>
      </ul>

      <div class="text-end">
        <% if user_signed_in? %>
          <%= link_to t('global.menu.logout'), destroy_user_session_path(params[:locale]), method: :delete, class: "btn btn-outline-light me-2" %>
          <%= link_to t('global.menu.profile'), edit_user_registration_path(params[:locale]), class: "btn btn-warning" %>
        <% else %>
          <%= link_to t('global.menu.login'), new_user_session_path(params[:locale]), class: "btn btn-outline-light me-2" %>
          <%= link_to t('global.menu.signup'), new_user_registration_path(params[:locale]), class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</header>